#app {
    background-color: rgb(245, 247, 250);
    display: grid;
    grid-template-columns: 80px 1fr;
    height: 100vh;
}

aside {
    background: #1B1D29;
}

main {
    position: relative;
    display: grid;
    grid-template-rows: 80px 1fr;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    padding: 0 32px;
}

footer {
    border-top: 1px solid #E5E5E5;
    padding: 17px 60px;
    justify-content: flex-end;
    display: flex;
}

header .header-item {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}

section {
    padding: 32px;
}

.copyrights {
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: #A8A8A8;
    display: flex;
}

.sidebar-link {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo-wrapper {
    width: 40px;
    height: 40px;
    margin: 25px 23px 35px;
    cursor: pointer;
}

.header-item-label {
    color: rgba(125, 125, 125, 1);
    font-family: Roboto;
    text-align: left;
    font-size: 13px;
    letter-spacing: 0;
    margin-bottom: 3px;
}

.header-item-value {
    color: rgba(38, 38, 38, 1);
    font-family: Rubik;
    text-align: left;
    font-size: 19px;
    letter-spacing: 0;
}

.input {
    width: 300px;
    height: 48px;
    border-radius: 4px;
    background: #FFFFFF;
    box-sizing: border-box;
    margin-top: 5px;
    padding: 15px 17px;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0em;
    border: 1px solid #CFD2D9;
}

.clipboard-copy {
    position: absolute;
    margin-top: 20px;
    margin-left: -30px;
    cursor: pointer;
}

input:focus, button:focus {
    outline: none;
    box-shadow: 0px 0px 0px 1px #2f80ed;
}

button {
    cursor: pointer;
}

.input-label {
    color: rgba(125, 125, 125, 1);
    font-family: Roboto;
    text-align: left;
    font-size: 11px;
    letter-spacing: 1.5;
    margin-bottom: 3px;
}

.reset-button {
    height: 48px;
    width: 149px;
    font-size: 19px;
    border-radius: 4px;
    background: #F5F7FA;
    border: 1px solid #CFD2D9;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}

.blue-button {
    font-size: 19px;
    color: white;
    height: 48px;
    width: 300px;
    background: #0085FF;
    border-radius: 4px;
    border: 1px solid #0085FF;
}

.disabled {
  opacity: 0.5;
  cursor: default;
}

.service-item {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 6px;
    width: 100%;
    border: 1px solid #E2E5EC;
    padding: 26px 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.service-name {
    color: rgba(0, 0, 0, 1);
    font-family: Roboto;
    text-align: left;
    font-size: 29px;
    letter-spacing: 0;
    margin-bottom: 15px;
}

.service-description {
    color: rgba(125, 125, 125, 1);
    font-family: Roboto;
    text-align: left;
    font-size: 15px;
    letter-spacing: 0;
}

.page-title {
    color: rgba(38, 38, 38, 1);
    font-family: Rubik;
    text-align: left;
    font-size: 39px;
    letter-spacing: 0;
}

.service-block {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.mr8 {
    margin-right: 8px;
}

.mr24 {
    margin-right: 24px;
}

.flex-end {
  justify-content: flex-end;
}

