@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto.ttf);
}

@font-face {
    font-family: 'Rubik';
    src: url(./fonts/Rubik.ttf);
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

