#app {
  background-color: rgb(245, 247, 250);
  display: grid;
  grid-template-columns: 80px 1fr;
  height: 100vh;
}
aside {
  background: #1B1D29;
}
main {
  display: grid;
  grid-template-rows: 80px 1fr;
}
header {
  background-color:rgba(255, 255, 255, 1);
}
.e1_156 {
  background-color:rgba(27.000000290572643, 29.000000171363354, 41.00000135600567, 1);
  width:80px;
  height:947px;
  position:absolute;
  left:0px;
  top:0px;
}
.e1_157 {
  width:80px;
  height:72px;
  position:absolute;
  left:0px;
  top:608px;
}
.e1_158 {
  background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
  width:80px;
  height:72px;
  position:absolute;
  left:0px;
  top:0px;
}
.e1_159 {
  background-color:rgba(136.00000709295273, 137.00000703334808, 145.00000655651093, 1);
  width:24px;
  height:24px;
  position:absolute;
  left:28px;
  top:24px;
}
.e1_160 {
  width:80px;
  height:72px;
  position:absolute;
  left:0px;
  top:536px;
}
.e1_161 {
  background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
  width:80px;
  height:72px;
  position:absolute;
  left:0px;
  top:0px;
}
.e1_162 {
  background-color:rgba(255, 255, 255, 1);
  width:24px;
  height:24px;
  position:absolute;
  left:28px;
  top:24px;
}
.e1_163 {
  width:80px;
  height:72px;
  position:absolute;
  left:0px;
  top:464px;
}
.e1_164 {
  background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
  width:80px;
  height:72px;
  position:absolute;
  left:0px;
  top:0px;
}
.e1_165 {
  background-color:rgba(136.00000709295273, 137.00000703334808, 145.00000655651093, 1);
  width:24px;
  height:24px;
  position:absolute;
  left:28px;
  top:24px;
}
.e1_166 {
  width:80px;
  height:72px;
  position:absolute;
  left:0px;
  top:392px;
}
.e1_167 {
  background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
  width:80px;
  height:72px;
  position:absolute;
  left:0px;
  top:0px;
}
.e1_168 {
  background-color:rgba(136.00000709295273, 137.00000703334808, 145.00000655651093, 1);
  width:24px;
  height:24px;
  position:absolute;
  left:28px;
  top:24px;
}
.e1_169 {
  width:80px;
  height:72px;
  position:absolute;
  left:0px;
  top:319.9999694824219px;
}
.e1_170 {
  background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
  width:80px;
  height:72px;
  position:absolute;
  left:0px;
  top:0px;
}
.e1_171 {
  background-color:rgba(136.00000709295273, 137.00000703334808, 145.00000655651093, 1);
  width:24px;
  height:24px;
  position:absolute;
  left:28px;
  top:24px;
}
.e1_172 {
  width:80px;
  height:72px;
  position:absolute;
  left:0px;
  top:248px;
}
.e1_173 {
  background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
  width:80px;
  height:72px;
  position:absolute;
  left:0px;
  top:0px;
}
.e1_174 {
  background-color:rgba(136.00000709295273, 137.00000703334808, 145.00000655651093, 1);
  width:24px;
  height:24px;
  position:absolute;
  left:28px;
  top:24px;
}
.e1_175 {
  width:80px;
  height:72px;
  position:absolute;
  left:0px;
  top:175.99998474121094px;
}
.e1_176 {
  background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
  width:80px;
  height:72px;
  position:absolute;
  left:0px;
  top:0px;
}
.e1_177 {
  background-color:rgba(136.00000709295273, 137.00000703334808, 145.00000655651093, 1);
  width:24px;
  height:24px;
  position:absolute;
  left:28px;
  top:24px;
}
.e1_178 {
  width:80px;
  height:72px;
  position:absolute;
  left:0px;
  top:104.00000762939453px;
}
.e1_179 {
  background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
  width:80px;
  height:72px;
  position:absolute;
  left:0px;
  top:0px;
}
.e1_180 {
  background-color:rgba(136.00000709295273, 137.00000703334808, 145.00000655651093, 1);
  width:24px;
  height:24px;
  position:absolute;
  left:28px;
  top:24px;
}
.e1_181 {
  width:40px;
  height:40px;
  position:absolute;
  left:18px;
  top:20px;
}
.e1_182 {
  background-color:rgba(118.00000056624413, 119.00000050663948, 127.00000002980232, 1);
  width:40px;
  height:40px;
  position:absolute;
  left:0px;
  top:0px;
}
.e1_183 {
  background-color:rgba(0, 133.00000727176666, 255, 1);
  width:26.66669273376465px;
  height:40px;
  position:absolute;
  left:6px;
  top:0px;
}
.e1_185 {
  background-color:rgba(255, 255, 255, 1);
  width:1200px;
  height:80px;
  position:absolute;
  left:0px;
  top:0px;
}
.e1_186 {
  width:87px;
  height:46px;
  position:absolute;
  left:143px;
  top:18px;
}
.e1_187 {
  color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
  width:87px;
  height:26px;
  position:absolute;
  left:0px;
  top:20px;
  font-family:Rubik;
  text-align:left;
  font-size:19px;
  letter-spacing:0;
}
.e1_188 {
  color:rgba(125.00000014901161, 125.00000014901161, 125.00000014901161, 1);
  width:40px;
  height:20px;
  position:absolute;
  left:0px;
  top:0px;
  font-family:Roboto;
  text-align:left;
  font-size:13px;
  letter-spacing:0;
}
.e1_189 {
  width:87px;
  height:46px;
  position:absolute;
  left:32px;
  top:18px;
}
.e1_190 {
  color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
  width:87px;
  height:26px;
  position:absolute;
  left:0px;
  top:20px;
  font-family:Rubik;
  text-align:left;
  font-size:19px;
  letter-spacing:0;
}
.e1_191 {
  color:rgba(125.00000014901161, 125.00000014901161, 125.00000014901161, 1);
  width:47px;
  height:20px;
  position:absolute;
  left:0px;
  top:0px;
  font-family:Roboto;
  text-align:left;
  font-size:13px;
  letter-spacing:0;
}
.e1_192 {
  color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
  width:150px;
  height:47px;
  position:absolute;
  left:112px;
  top:120px;
  font-family:Rubik;
  text-align:left;
  font-size:39px;
  letter-spacing:0;
}
.e1_193 {
  width:300px;
  height:72px;
  position:absolute;
  left:112px;
  top:183px;
}
.e1_194 {
  color:rgba(125.00000014901161, 125.00000014901161, 125.00000014901161, 1);
  width:35px;
  height:17px;
  position:absolute;
  left:0px;
  top:0px;
  font-family:Roboto;
  text-align:left;
  font-size:11px;
  letter-spacing:1.5;
}
.e1_195 {
  background-color:rgba(255, 255, 255, 1);
  width:300px;
  height:48px;
  position:absolute;
  left:0px;
  top:24px;
  border-radius:4px;
}
.1_195 {
    border:2px solid rgba(204.00000303983688, 231.00000143051147, 255, 1);
  }
.e1_196 {
  background-color:rgba(255, 255, 255, 1);
  width:300px;
  height:48px;
  position:absolute;
  left:0px;
  top:24px;
  border-radius:4px;
}
.1_196 {
    border:1px solid rgba(47.0000009983778, 128.0000075697899, 237.0000010728836, 1);
  }
.e1_197 {
  color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
  width:17px;
  height:22px;
  position:absolute;
  left:17px;
  top:39px;
  font-family:Roboto;
  text-align:left;
  font-size:15px;
  letter-spacing:0;
}
.e1_198 {
  transform: rotate(90.00000250447849deg);
  width:20px;
  height:0px;
  position:absolute;
  left:35px;
  top:38px;
}
.1_198 {
    border:1px solid rgba(0, 0, 0, 1);
  }
.e1_199 {
  width:149px;
  height:48px;
  position:absolute;
  left:420px;
  top:207px;
}
.e1_200 {
  background-color:rgba(245.00000059604645, 247.00000047683716, 250.00000029802322, 1);
  width:149px;
  height:48px;
  position:absolute;
  left:0px;
  top:0px;
  border-radius:4px;
}
.1_200 {
    border:1px solid rgba(207.00000286102295, 210.00000268220901, 217.0000022649765, 1);
  }
.e1_201 {
  color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
  width:48px;
  height:28px;
  position:absolute;
  left:51px;
  top:10px;
  font-family:Roboto;
  text-align:center;
  font-size:19px;
  letter-spacing:0;
}
.e1_202 {
  width:1136px;
  height:120px;
  position:absolute;
  left:112px;
  top:279px;
}
.e1_203 {
  width:1136px;
  height:120px;
  position:absolute;
  left:0px;
  top:0px;
}
.ei1_203_3613_82 {
  background-color:rgba(255, 255, 255, 1);
  width:1136px;
  height:120px;
  position:absolute;
  left:0px;
  top:0px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
}
.i1_203_3613_82 {
  border:1px solid rgba(226.0000017285347, 229.00000154972076, 236.00000113248825, 1);
}
.e1_204 {
  background-color:rgba(255, 255, 255, 1);
  width:1136px;
  height:120px;
  position:absolute;
  left:0px;
  top:0px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
}
.1_204 {
    border:1px solid rgba(226.0000017285347, 229.00000154972076, 236.00000113248825, 1);
  }
.e1_205 {
  width:300px;
  height:72px;
  position:absolute;
  left:480px;
  top:24px;
}
.e1_206 {
  color:rgba(125.00000014901161, 125.00000014901161, 125.00000014901161, 1);
  width:69px;
  height:17px;
  position:absolute;
  left:0px;
  top:0px;
  font-family:Roboto;
  text-align:left;
  font-size:11px;
  letter-spacing:1.5;
}
.e1_207 {
  width:300px;
  height:48px;
  position:absolute;
  left:0px;
  top:24px;
}
.e1_208 {
  background-color:rgba(255, 255, 255, 1);
  width:300px;
  height:48px;
  position:absolute;
  left:0px;
  top:0px;
  border-radius:4px;
}
.1_208 {
    border:1px solid rgba(207.00000286102295, 210.00000268220901, 217.0000022649765, 1);
  }
.e1_209 {
  color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
  width:93px;
  height:22px;
  position:absolute;
  left:17px;
  top:15px;
  font-family:Roboto;
  text-align:left;
  font-size:15px;
  letter-spacing:0;
}
.e1_210 {
  width:16px;
  height:16px;
  position:absolute;
  left:268px;
  top:15px;
}
.ei1_210_1069_78 {
  background-color:rgba(0, 133.00000727176666, 255, 1);
  width:14px;
  height:16px;
  position:absolute;
  left:1px;
  top:0px;
  border-radius:0.5px;
}
.e1_211 {
  width:300px;
  height:48px;
  position:absolute;
  left:804px;
  top:48px;
}
.ei1_211_4923_369 {
  width:300px;
  height:48px;
  position:absolute;
  left:0px;
  top:0px;
}
.ei1_211_4923_369_4923_284 {
  background-color:rgba(0, 133.00000727176666, 255, 1);
  width:300px;
  height:48px;
  position:absolute;
  left:0px;
  top:0px;
  border-radius:4px;
}
.ei1_211_892_707 {
  color:rgba(255, 255, 255, 1);
  width:126px;
  height:28px;
  position:absolute;
  left:87px;
  top:12px;
  font-family:Roboto;
  text-align:center;
  font-size:19px;
  letter-spacing:0;
}
.e1_212 {
  color:rgba(0, 0, 0, 1);
  width:207px;
  height:43px;
  position:absolute;
  left:32px;
  top:26px;
  font-family:Roboto;
  text-align:left;
  font-size:29px;
  letter-spacing:0;
}
.e1_213 {
  color:rgba(125.00000014901161, 125.00000014901161, 125.00000014901161, 1);
  width:76px;
  height:22px;
  position:absolute;
  left:32px;
  top:74px;
  font-family:Roboto;
  text-align:left;
  font-size:15px;
  letter-spacing:0;
}
.e1_214 {
  width:1136px;
  height:120px;
  position:absolute;
  left:112px;
  top:423px;
}
.e1_215 {
  width:1136px;
  height:120px;
  position:absolute;
  left:0px;
  top:0px;
}
.ei1_215_3613_82 {
  background-color:rgba(255, 255, 255, 1);
  width:1136px;
  height:120px;
  position:absolute;
  left:0px;
  top:0px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
}
.i1_215_3613_82 {
  border:1px solid rgba(226.0000017285347, 229.00000154972076, 236.00000113248825, 1);
}
.e1_216 {
  background-color:rgba(255, 255, 255, 1);
  width:1136px;
  height:120px;
  position:absolute;
  left:0px;
  top:0px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
}
.1_216 {
    border:1px solid rgba(226.0000017285347, 229.00000154972076, 236.00000113248825, 1);
  }
.e1_217 {
  width:300px;
  height:72px;
  position:absolute;
  left:480px;
  top:24px;
}
.e1_218 {
  color:rgba(125.00000014901161, 125.00000014901161, 125.00000014901161, 1);
  width:69px;
  height:17px;
  position:absolute;
  left:0px;
  top:0px;
  font-family:Roboto;
  text-align:left;
  font-size:11px;
  letter-spacing:1.5;
}
.e1_219 {
  width:300px;
  height:48px;
  position:absolute;
  left:0px;
  top:24px;
}
.e1_220 {
  background-color:rgba(255, 255, 255, 1);
  width:300px;
  height:48px;
  position:absolute;
  left:0px;
  top:0px;
  border-radius:4px;
}
.1_220 {
    border:1px solid rgba(207.00000286102295, 210.00000268220901, 217.0000022649765, 1);
  }
.e1_221 {
  color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
  width:93px;
  height:22px;
  position:absolute;
  left:17px;
  top:15px;
  font-family:Roboto;
  text-align:left;
  font-size:15px;
  letter-spacing:0;
}
.e1_222 {
  width:16px;
  height:16px;
  position:absolute;
  left:268px;
  top:15px;
}
.ei1_222_1069_78 {
  background-color:rgba(0, 133.00000727176666, 255, 1);
  width:14px;
  height:16px;
  position:absolute;
  left:1px;
  top:0px;
  border-radius:0.5px;
}
.e1_223 {
  width:300px;
  height:48px;
  position:absolute;
  left:804px;
  top:48px;
}
.ei1_223_4923_369 {
  width:300px;
  height:48px;
  position:absolute;
  left:0px;
  top:0px;
}
.ei1_223_4923_369_4923_284 {
  background-color:rgba(0, 133.00000727176666, 255, 1);
  width:300px;
  height:48px;
  position:absolute;
  left:0px;
  top:0px;
  border-radius:4px;
}
.ei1_223_892_707 {
  color:rgba(255, 255, 255, 1);
  width:126px;
  height:28px;
  position:absolute;
  left:87px;
  top:12px;
  font-family:Roboto;
  text-align:center;
  font-size:19px;
  letter-spacing:0;
}
.e1_224 {
  color:rgba(0, 0, 0, 1);
  width:188px;
  height:43px;
  position:absolute;
  left:32px;
  top:26px;
  font-family:Roboto;
  text-align:left;
  font-size:29px;
  letter-spacing:0;
}
.e1_225 {
  color:rgba(125.00000014901161, 125.00000014901161, 125.00000014901161, 1);
  width:76px;
  height:22px;
  position:absolute;
  left:32px;
  top:74px;
  font-family:Roboto;
  text-align:left;
  font-size:15px;
  letter-spacing:0;
}
.e1_226 {
  width:1136px;
  height:120px;
  position:absolute;
  left:112px;
  top:567px;
}
.e1_227 {
  width:1136px;
  height:120px;
  position:absolute;
  left:0px;
  top:0px;
}
.ei1_227_3613_82 {
  background-color:rgba(255, 255, 255, 1);
  width:1136px;
  height:120px;
  position:absolute;
  left:0px;
  top:0px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
}
.i1_227_3613_82 {
  border:1px solid rgba(226.0000017285347, 229.00000154972076, 236.00000113248825, 1);
}
.e1_228 {
  background-color:rgba(255, 255, 255, 1);
  width:1136px;
  height:120px;
  position:absolute;
  left:0px;
  top:0px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
}
.1_228 {
    border:1px solid rgba(226.0000017285347, 229.00000154972076, 236.00000113248825, 1);
  }
.e1_229 {
  color:rgba(0, 0, 0, 1);
  width:180px;
  height:43px;
  position:absolute;
  left:32px;
  top:26px;
  font-family:Roboto;
  text-align:left;
  font-size:29px;
  letter-spacing:0;
}
.e1_230 {
  color:rgba(125.00000014901161, 125.00000014901161, 125.00000014901161, 1);
  width:76px;
  height:22px;
  position:absolute;
  left:32px;
  top:74px;
  font-family:Roboto;
  text-align:left;
  font-size:15px;
  letter-spacing:0;
}
.e1_231 {
  width:300px;
  height:72px;
  position:absolute;
  left:480px;
  top:24px;
}
.e1_232 {
  color:rgba(125.00000014901161, 125.00000014901161, 125.00000014901161, 1);
  width:69px;
  height:17px;
  position:absolute;
  left:0px;
  top:0px;
  font-family:Roboto;
  text-align:left;
  font-size:11px;
  letter-spacing:1.5;
}
.e1_233 {
  width:300px;
  height:48px;
  position:absolute;
  left:0px;
  top:24px;
}
.e1_234 {
  background-color:rgba(255, 255, 255, 1);
  width:300px;
  height:48px;
  position:absolute;
  left:0px;
  top:0px;
  border-radius:4px;
}
.1_234 {
    border:1px solid rgba(207.00000286102295, 210.00000268220901, 217.0000022649765, 1);
  }
.e1_235 {
  color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
  width:93px;
  height:22px;
  position:absolute;
  left:17px;
  top:15px;
  font-family:Roboto;
  text-align:left;
  font-size:15px;
  letter-spacing:0;
}
.e1_236 {
  width:16px;
  height:16px;
  position:absolute;
  left:268px;
  top:15px;
}
.ei1_236_1069_78 {
  background-color:rgba(0, 133.00000727176666, 255, 1);
  width:14px;
  height:16px;
  position:absolute;
  left:1px;
  top:0px;
  border-radius:0.5px;
}
.e1_237 {
  width:300px;
  height:48px;
  position:absolute;
  left:804px;
  top:48px;
}
.ei1_237_4923_369 {
  width:300px;
  height:48px;
  position:absolute;
  left:0px;
  top:0px;
}
.ei1_237_4923_369_4923_284 {
  background-color:rgba(0, 133.00000727176666, 255, 1);
  width:300px;
  height:48px;
  position:absolute;
  left:0px;
  top:0px;
  border-radius:4px;
}
.ei1_237_892_707 {
  color:rgba(255, 255, 255, 1);
  width:126px;
  height:28px;
  position:absolute;
  left:87px;
  top:12px;
  font-family:Roboto;
  text-align:center;
  font-size:19px;
  letter-spacing:0;
}
.e1_238 {
  width:1136px;
  height:120px;
  position:absolute;
  left:112px;
  top:711px;
}
.e1_239 {
  width:1136px;
  height:120px;
  position:absolute;
  left:0px;
  top:0px;
}
.ei1_239_3613_82 {
  background-color:rgba(255, 255, 255, 1);
  width:1136px;
  height:120px;
  position:absolute;
  left:0px;
  top:0px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
}
.i1_239_3613_82 {
  border:1px solid rgba(226.0000017285347, 229.00000154972076, 236.00000113248825, 1);
}
.e1_240 {
  background-color:rgba(255, 255, 255, 1);
  width:1136px;
  height:120px;
  position:absolute;
  left:0px;
  top:0px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
}
.1_240 {
    border:1px solid rgba(226.0000017285347, 229.00000154972076, 236.00000113248825, 1);
  }
.e1_241 {
  width:300px;
  height:72px;
  position:absolute;
  left:480px;
  top:24px;
}
.e1_242 {
  color:rgba(125.00000014901161, 125.00000014901161, 125.00000014901161, 1);
  width:69px;
  height:17px;
  position:absolute;
  left:0px;
  top:0px;
  font-family:Roboto;
  text-align:left;
  font-size:11px;
  letter-spacing:1.5;
}
.e1_243 {
  width:300px;
  height:48px;
  position:absolute;
  left:0px;
  top:24px;
}
.e1_244 {
  background-color:rgba(255, 255, 255, 1);
  width:300px;
  height:48px;
  position:absolute;
  left:0px;
  top:0px;
  border-radius:4px;
}
.1_244 {
    border:1px solid rgba(207.00000286102295, 210.00000268220901, 217.0000022649765, 1);
  }
.e1_245 {
  color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
  width:93px;
  height:22px;
  position:absolute;
  left:17px;
  top:15px;
  font-family:Roboto;
  text-align:left;
  font-size:15px;
  letter-spacing:0;
}
.e1_246 {
  width:16px;
  height:16px;
  position:absolute;
  left:268px;
  top:15px;
}
.ei1_246_1069_78 {
  background-color:rgba(0, 133.00000727176666, 255, 1);
  width:14px;
  height:16px;
  position:absolute;
  left:1px;
  top:0px;
  border-radius:0.5px;
}
.e1_247 {
  width:300px;
  height:48px;
  position:absolute;
  left:804px;
  top:48px;
}
.ei1_247_4923_369 {
  width:300px;
  height:48px;
  position:absolute;
  left:0px;
  top:0px;
}
.ei1_247_4923_369_4923_284 {
  background-color:rgba(0, 133.00000727176666, 255, 1);
  width:300px;
  height:48px;
  position:absolute;
  left:0px;
  top:0px;
  border-radius:4px;
}
.ei1_247_892_707 {
  color:rgba(255, 255, 255, 1);
  width:126px;
  height:28px;
  position:absolute;
  left:87px;
  top:12px;
  font-family:Roboto;
  text-align:center;
  font-size:19px;
  letter-spacing:0;
}
.e1_248 {
  color:rgba(0, 0, 0, 1);
  width:119px;
  height:43px;
  position:absolute;
  left:32px;
  top:32px;
  font-family:Roboto;
  text-align:left;
  font-size:29px;
  letter-spacing:0;
}
.e1_249 {
  color:rgba(125.00000014901161, 125.00000014901161, 125.00000014901161, 1);
  width:76px;
  height:22px;
  position:absolute;
  left:32px;
  top:80px;
  font-family:Roboto;
  text-align:left;
  font-size:15px;
  letter-spacing:0;
}
.e1_250 {
  width:1200px;
  height:52px;
  position:absolute;
  left:80px;
  top:895px;
}
.e1_251 {
  color:rgba(168.0000051856041, 168.0000051856041, 168.0000051856041, 1);
  width:137px;
  height:20px;
  position:absolute;
  left:1004px;
  top:18px;
  font-family:Roboto;
  text-align:left;
  font-size:13px;
  letter-spacing:0;
}
.e1_252 {
  width:1200px;
  height:52px;
  position:absolute;
  left:0px;
  top:0px;
}
.ei1_252_5468_5770 {
  transform: rotate(0.000005008956538086317deg);
  width:1138px;
  height:0px;
  position:absolute;
  left:32px;
  top:1px;
}
.ei1_252_5468_5770_4457_0 {
  transform: rotate(1.457978623597229e-15deg);
  width:1138px;
  height:0px;
  position:absolute;
  left:0px;
  top:2.842170943040401e-14px;
}
.i1_252_5468_5770_4457_0 {
  border:1px solid rgba(233.00000131130219, 233.00000131130219, 233.00000131130219, 1);
}
